@define-color background #3A372F;
@define-color primary #BFAA80;
@define-color button-border #D08B57; 


#lock {
    background-image: url("/home/plagus/.config/wlogout/icons/lock.png");
}
#logout {
    background-image: url("/home/plagus/.config/wlogout/icons/logout.png");
}
#suspend {
    background-image: url("/home/plagus/.config/wlogout/icons/suspend.png");
}
#hibernate {
    background-image: url("/home/plagus/.config/wlogout/icons/hibernate.png");
}
#reboot {
    background-image: url("/home/plagus/.config/wlogout/icons/reboot.png");
}
#shutdown {
    background-image: url("/home/plagus/.config/wlogout/icons/shutdown.png");
}

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(30, 30, 30, 0.8);
}

button {
    font-size: 20px;
    background-color: @background;
    border: 2px solid @button-border;
    border-radius: 5px;
    margin: 5px;
    min-width: 80px;
    min-height: 40px;
}

button:hover,
button:focus {
    background-color: @primary;
    border-color: @primary;
}


/* Individual button styling */
#lock, #logout, #suspend, #hibernate, #shutdown, #reboot {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}


